{% extends 'template_story.html' %}


{% block content_header %}
Embark on an Adventure...
{% endblock %}


{% block content_text %}

&nbsp&nbsp&nbsp&nbspYou stumble across a strange and mysterious website. Your curiousity is piqued by the shades of blue splashing onto your screen, an air of adventure seems to flow about this place. As you read the paragraph before you, a thought enters your mind, "Where is this going?"<br/><br/>

&nbsp&nbsp&nbsp&nbspBefore you can ponder the subject any longer, you are given an answer in the form of another question: Where do you want this to go? This is the question that all travellers who are fortunate enough to venture into this uncharted territory must answer.<br/><br/>

&nbsp&nbsp&nbsp&nbspMake your choice:<br/><br/>

{% endblock %}


{% block choices %}

<form method="get" action="{{url_for('showCategories')}}">
	<button class="color-secondary-dark"
			type="submit">Read a Story</button>
</form>

<button class="color-secondary-dark">Write a Story</button>

{% endblock %}
