{% extends 'template_story.html' %}

{% block content_header %}
{{ story.name }}
{% endblock %}


{% block content_text %}
{% if page %}
<p>{{page.text}}</p>
{% endif %}


{% if not page %}
<p>There are currently no pages written in this story!</p>
{% endif %}
{% endblock %}


{% block choices %}
{% for linked_page in linked_pages %}
	<form method="get" action="{{url_for('showStory',
									 category_id=category.id,
									 story_id=story.id,
									 page_id=linked_page.id)}}">
		<button class="color-secondary-dark"
				type="submit">{{linked_page.description}}</button>
	</form>
{% endfor %}
{% endblock %}
