<!doctype html>


<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>StoryApp</title>

<link href="{{ url_for('static', filename='background.css') }}" 
	  rel="stylesheet" type="text/css" media="all"/>
<link href="{{ url_for('static', filename='colors.css') }}" 
	  rel="stylesheet" type="text/css" media="all"/>

<link href="{{ url_for('static', filename='header.css') }}" 
	  rel="stylesheet" type="text/css" media="all"/>
<link href="{{ url_for('static', filename='banner.css') }}" 
	  rel="stylesheet" type="text/css" media="all"/>
<link href="{{ url_for('static', filename='content-home.css') }}" 
	  rel="stylesheet" type="text/css" media="all"/>

<link href="{{ url_for('static', filename='choices.css') }}" 
	  rel="stylesheet" type="text/css" media="all"/>

{% block head %}
{% endblock %}

</head>


<body class="color-main-light">


<!--	HEADER AND MENU BAR		-->
<div id="header" class="color-main-light">
	<h1><a href="{{url_for('showHome')}}"
		   class="color-font-light-1">
		StoryApp</a>
	</h1>

	<div id="menu" class="color-hover-highlight">
	<ul>
		<!-- Page links -->
		<li><a href="{{url_for('showHome')}}" 
			   class="color-font-light-1">
			Home</a>
		</li>
		<li><a href="{{url_for('showCategories')}}" 
			   class="color-font-light-1">
			Read</a>
		</li>
		<li><a href="{{url_for('newStory')}}" 
			   class="color-font-light-1">Write</a></li>
		<li><a href="#" class="color-font-light-1">About</a></li>

		<!-- Login -->
		{% if user == None %}
		<li class="login"><a href="{{url_for('login')}}"
			   class="color-font-light-2">Login
			<img src="{{url_for('static',
								filename='images/no-profile.png')}}"
				 class="login"
				 >
			</a>
		</li>
		{% endif %}
		{% if user %}
		<li class="login"><a href="{{url_for('login')}}"
							 class="color-font-light-2">{{user.name}}
							 <img src="{{user.avatar}}"
				 				  class="login">
			</a>
		</li>
		{% endif %}

	</ul>
	</div>
</div>


<!--	BANNER		-->
<div id="banner" 
	 style="background-image: url({{url_for('static', 
	 						  filename='images/banner-book.jpg')}})">
	<div id="banner-text" class="color-main-dark">
		<h2 class="color-font-light-2">Banner Header</h2>
		<p class="color-font-light-2">Here is some text you will find fascinating.
		Maybe we can put some featured stories of the month here</p>
	</div>
</div>


<!--	Content		-->
<div id="content-home"
	 class="color-secondary-border color-background-light">
	{% block content %}
	{% endblock %}
</div>

</body>
