/********************************************************************/
/* Banner                                                           */
/********************************************************************/

#banner
{
	margin: 0;
	padding: 3em;
	text-align: center;
}

#banner h2
{
	font-weight: 300;
	color: white;
}


#banner p
{
	color: white;
}
