/********************************************************************/
/* Main Color                                                       */
/********************************************************************/

.color-main
{
	background: #2096BA;
	background-color: #2096BA;
}


/********************************************************************/
/* Secondary Color                                                  */
/********************************************************************/

.color-secondary
{
	background: #DF6E21;
	background-color: #DF6E21;
}

.color-secondary-border
{
	border-color: #C5D2DB;
}

/********************************************************************/
/* Highlight Color                                                  */
/********************************************************************/
.color-hover-highlight li:hover
{
	background-color:#E7B183;
}
