/********************************************************************/
/* Content                                                          */
/********************************************************************/

#content-home
{
	margin: 0;
	padding: 0;
	
	border-style: ridge;
	border-width: 3px;
	border-left-width: 6px;
	border-right-width: 1px;

	background-color: white;
}

#content-home h2
{
	text-align: center;
	font-size:3em;
}

#content-home p
{
	padding-left: 2.5em;
	padding-right: 2.5em;
	font-size:2em;
}
